div.post-container {
  display: flex;
  flex: 1;
  max-width: 200px;
  justify-content: center;
  margin: 25px 10px;

  > div.post {
    display: flex;
    flex:1;
    flex-direction: column;
    background: #FFFFFF;
    // border-radius: 15px;

    > img {
      width: 100%;
      // margin: 10px;
      // border-radius: 10px;
      // filter: grayscale(100%);
      // transition: all .3s ease-in-out;
      &:hover {
        // filter: grayscale(0);
        // transform: scale(1.1);
      }
    }
    > p.post-description {
      padding: 16px 10px;
      color: #d9d9d9;
    }
  }
}

@media screen and (max-width: 560px) {
  div.post-container {
    max-width: 300px;
    div.post {
      flex-basis: 100%;
      align-self: center;
    }
  }
}
