div.post-container {
  // display: flex;
  // flex: 1;
  max-width: 230px;
  // justify-content: center;
  margin: 25px 10px;

  > div.post {
    // display: flex;
    // flex:1;
    // flex-direction: column;
    background: #FFFFFF;
    // border-radius: 15px;

    > img {
      width: 100%;
      // position:relative;
      // margin: 10px;
    }
    > button[type=submit] {
      width: 35px;
      height: 35px;
      align-self: center;
      top:40px;
      right:40px;
      background: transparent;
      border: 2px solid transparent;
      border-radius: 50%; 
      position: absolute;
      z-index: 5;
      opacity: 0.5;
      .fa-stack {
        right:6px;
       }
      .fa-heart {
        color:gray;
      }
      .fa-circle {
        color:white;
      }
      &:hover {
        opacity: 1; 
        .fa-heart {
          color:red;
        } 
      }
    } 
    .fa-user-circle {
      bottom:36px;
      left:14px;
      width:40px;
      height:40px;
      position: absolute;
    }
    > p {
      padding-left: 50px;
    }
    > p.post-title {
      color: #333333;
      padding-top: 16px;

    }
    > p.post-description {
      color: #d9d9d9;
      padding-top: 8px;
      padding-bottom:16px;
    }
  }
}
div.post-container.overlay-active + div.overlay {
  overflow: auto;
}
div.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  position: fixed;
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: center;
  -webkit-justify-content: center; /* Safari 6.1+ */
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  > img {
    margin-top: 100px;
    position: absolute;
    max-width: 70%;
    max-height: 760px;
  }
}
