<nav class="grey lighten-2">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="userService.checkIfUserIsLoggedIn()"><a href="" (click)="userService.logoutUser()">Logout</a></li>
      <li *ngIf="!userService.checkIfUserIsLoggedIn()" routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
      <li *ngIf="!userService.checkIfUserIsLoggedIn()" routerLinkActive="active"><a [routerLink]="['/signup']">Signup</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li *ngIf="userService.checkIfUserIsLoggedIn()"><a (click)="userService.logoutUser()">Logout</a></li>
      <li *ngIf="!userService.checkIfUserIsLoggedIn()" routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
      <li *ngIf="!userService.checkIfUserIsLoggedIn()" routerLinkActive="active"><a [routerLink]="['/signup']">Signup</a></li>
    </ul>
  </div>
</nav>
