<nav class="grey lighten-2">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/signup']">Signup</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/signup']">Signup</a></li>
    </ul>
  </div>
</nav>
