.sign-up-title::before {
  font-family: FontAwesome;
  content: '\f090';
  padding-right: 25px;
}
form.row {
  &::nth-child(2) {
    display: flex;
    > div.input-field {
      flex:1;
    }
    > button {
      flex:1;
    }
  }
}
