<h1 class="log-in-title">Login</h1>
<!-- Znam da ne treba ovako, ali postman sere, i nije mi jasno zašto ne mogu preko njega, a mogu ovako... probao sam ovako reko aj da probam, kad ono puf. rešićemo kasnije, ali bitno da radi za sada nekako barem.
video sam kako ručno implementovati sve ovo uvezi passporta, tako da ćemo imati custom implementaciju, a ne ovo direkt sa dokumentacije. Sutra rešavam to 200% a odradićemo zajedno deo da je tipa signup/login hidden ako si ulogovan. Jer ja znam passport deo toga a ti frontend. -->

<form class="row" action="/login" method="post"> 
    <div class="input-field col s12">
      <input id="login-email" type="email" class="validate" name="email">
      <label for="login-email">Email</label>
    </div>
    <div class="col s12">
      <div class="input-field">
        <input id="login-password" type="password" class="validate" name="password">
        <label for="login-password">Password</label>
      </div>

      <button class="btn waves-effect waves-light grey darken-1" type="submit" name="action">Login
        <i class="material-icons right">send</i>
      </button>
    </div>
</form>
