<h1 class="log-in-title">Login</h1>

<form class="row" 
      [formGroup]="loginForm"      
      (submit)="login(loginForm.value)">
    <div class="input-field col s12">
      <input id="login-email"
             type="email"
             name="email"
             class="validate"
             [formControl]="loginForm.controls['email']"
             [ngClass]="{ 'has-error': !loginForm.controls['email'].valid 
                                       && loginForm.controls['email'].touched }" />
      <label for="login-email">Email</label>
      <div *ngIf="loginForm.controls['email'].hasError('required')
                  && loginForm.controls['email'].touched"
           class="alert alert-danger">
           You must provide an email.
      </div>
    </div>
    <div class="col s12">
      <div class="input-field">
        <input id="login-password"
               tabindex="0"
               focused="true"
               type="password"
               class="validate"
               name="password"
               [formControl]="loginForm.controls['password']"
               [ngClass]="{ 'has-error': !loginForm.controls['password'].valid 
                                         && loginForm.controls['password'].touched }" />
        <label for="login-password">Password</label>
        <div *ngIf="loginForm.controls['password'].hasError('required')
                    && loginForm.controls['password'].touched"
           class="alert alert-danger">
           You must provide a password.
        </div>
      </div>

      <button class="btn waves-effect waves-light grey darken-1"
              type="submit"
              name="login"
              [disabled]="!loginForm.valid">
              Login<i class="material-icons right">send</i>
      </button>
      <input type="checkbox"
             [formControl]="loginForm.controls['keep-me-logged-in']"
             
             id="keep-me-logged-in">
      <label for="keep-me-logged-in">Keep me logged in</label>
    </div>
</form>
