<div class="create-container">
	<h2>Create a meme</h2>	

	<section class="create">
		<div class="image">
			<img src="https://imgflip.com/s/meme/One-Does-Not-Simply.jpg" alt="meme_image" class="meme_image">	
		<p>
			<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
			<label for="filled-in-box">Public meme</label>
		</p>
		<p>
			<input type="checkbox" class="filled-in" id="watermark-filled-in-box" checked="checked" />
			<label for="watermark-filled-in-box">Watermark</label>
		</p>
		</div>
		
		<div class="inputs">
			<div class="input-field col s6">
     			<input id="meme_top_text" class ="validate" type="text" name="meme_top_text"/>
      			<label for="meme_top_text">Top Text</label>
    		</div>

      		<div class="input-field col s6">
        		<input id="meme_bottom_text" class ="validate" type="text" name="meme_bottom_text" />
        		<label for="meme_bottom_text">Bottom Text</label>
       		</div>

		  	<button class="btn waves-effect waves-light grey darken-1"
              type="submit"
              name="preview">
              Preview <i class="fa fa-eye" aria-hidden="true"></i>
     		</button>

     		<button class="btn waves-effect waves-light grey darken-1"
              type="submit"
              name="create">
              create <i class="fa fa-plus-circle" aria-hidden="true"></i>
     		</button>
		</div>


	</section>


	<section class="collection">
		<h2>Meme collection</h2>


	</section>

</div>