div.posts-container {
 -moz-column-width: 13em;
 -webkit-column-width: 13em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
}
.grid-item {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%; 
 background:  #efefef;
}

// .grid-item--width2 { width: 160px; }
// .grid-item--height2 { height: 140px; }
// @media screen and (max-width: 560px) {
//   div.posts-container {
//     justify-content: center;
//   }
// }
